<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>{% block title %}Defoult title{% endblock title %}</title>
</head>
<body>
<div class="container">
    
    <div><a href="{% url 'index' %}">Главная</a> | <a href="{% url 'contacts' %}">Контакты</a></div>
        <h1>{% block header %}{% endblock header %}</h1>
    
    {% if user.is_authenticated %}
                <p class="text-right">
                    Hello, {{ user.username }}!
                    <a href="/news/logout">Log out</a> |
                    <a href="/news/password-change">
                        Change password
                    </a>
                </p>
            {% else %}
                <p class="text-right">
                    <a href="/news/login">Log in</a> |
                    <a href="/news/register">Register</a>
                </p>
            {% endif %}

<hr class="mt-0 mb-4">
            <div class="card">
                <div class="card-body">
                    {% block main %}
                    {% endblock %}
                </div>
            </div>

        <div class="card">
{% load static %}
   
<p id="date">Текущая дата:</p>

<script src="{% static 'js/current_date.js' %}"></script>
                    

<div class="col-lg-4 col-md-4 col-sm-12">
    <img src="{% static 'img/news1.jpg' %}" class="img-fluid" alt="News Image">
</div>
    
        

            <div>{% block content%}

            {% endblock content %}</div>
        </div>>

        <div>MyCorp. 2025. All rights reserved.</div>

    </div>>
</div>
</body>
</html>